.add-task-headline {
    margin-top: 64px;
}

#add-task-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.add-task-submit-buttons {
    margin-bottom: 16px;
}

#add-task-pop-up {
    height: 100%;
    overflow-y: auto;
    max-height: 870px;
}

.add-task-pop-up-wrapper {
    height: 100%;
}

@media (max-width: 920px) {
    .under-form {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 0;
    }
    
    .this-field-is-required {
        margin-top: 32px;
        width: 161px;
    }
}