
.animate-overlay {
    animation: 3s fade-out ease-in-out;
}

.animate-logo {
    animation: 2s move-to-corner ease-in-out both;
}

@keyframes fade-out {
    from {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: var(--color-main);
        opacity: 1;
        z-index: 2;
    } 
    to {
        opacity: 0;
    }
}

@keyframes move-to-corner {
    from {
        top: calc(50vh - 234px);
        left: calc(50vw - 214px);
        width: 274px;
        height: 334px;
    }

    to {
        width: 100px;
        height: 122px;
        top: 0;
        left: 0;
    }
}

#login-content-box {
    padding: 67px 122px 40px 77px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-main);
}

.login-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#login-logo-box {
    height: 122px;
    margin-bottom: 50px;
    position: relative;
}

#login-logo {
    margin-top: 13px;
    z-index: 3;
    position: absolute;
}

.login-button {
    padding: 15px 24px;
    font-size: 21px;
    border: unset;
    border-radius: 8px;
    outline: unset;
    cursor: pointer;
    font-weight: bold;
}

.login-button:hover {
    box-shadow: var(--box-shadow);
}

.login-dark-button {
    background-color: var(--color-menu);
    color: white;
}

.login-dark-button:hover {
    background-color: var(--color-accent);
    color: white;
}

.login-light-button {
    background-color: white;
    color: var(--color-menu);
    outline: 1px solid var(--color-menu);
    border: unset;
}

.login-light-button:hover {
    color: var(--color-accent);
    outline: 2px solid var(--color-accent);
}

.login-signup-box {
    display: flex;
    gap: 35px;
    align-items: center;
    align-self: flex-start;
    font-size: 20px;
}

#login-signup-box-footer {
    display: none;
}

#login-sign-up-button {
    padding: 15px 16px;
    font-size: 16px;
}

.login-field {
    background-color: white;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48px 155px;
    gap: 32px;
    box-shadow: 0px 0px 14px 3px #0000000A;
}

#login-seperator {
    border: 3px solid var(--color-accent);
    width: 150px;
    border-radius: 3px;
    margin-top: 16px;
}

input {
    background-repeat: no-repeat;
    background-position: 92%;
    cursor: pointer;
}

.login-input-box {
    position: relative;
}

.login-input-icon {
    position: absolute;
    right: 21px;
    top: 12px;
}

.checkbox-container {
    height: 19px;
    width: 19px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-checkbox-box {
    margin-top: 12px;
    margin-left: 39px;
    align-self: start;
    display: flex;
    align-items: center;
    gap: 8px;
}

#login-password-icon {
    z-index: 1;
}

#signup-checkbox-box {
    margin-left: 0;
    align-self: center;
}

input[type="checkbox"] {
    opacity: 0;
    position: absolute;
    height: 19px;
    width: 19px;
    margin: 0;
}

form {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
}

.login-button-box {
    display: flex;
    gap: 35px;
}

#login-link-box {
    margin-top: 108px;
    display: flex;
    justify-content: space-between;
    width: 240px;
}

a {
    text-decoration: none;
    color: hsl(0, 0%, 66%);
}

a:hover {
    color: var(--color-accent);
    font-weight: bold;
}

#signup-feld {
    position: relative;
}

.back-button-box {
    border-radius: 16px;
    background-color: white;
    position: absolute;
    left: 48px;
    top: 64px;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

#back-to-login-button {
    width: 21px;
    height: 21px;
    object-fit: contain;
}

.back-button-box:hover {
    background-color: var(--color-button-hover);
    scale: 1.05;
}

.login-input-failure {
    color: red;
    font-size: 13px;
    margin-top: 8px;
    position: absolute;
}

#login-failure-button {
    border: unset;
    background-color: transparent;
    color: var(--color-menu);
    font-weight: bold;
}

#login-failure-button:hover {
    color: var(--color-accent);
    cursor: pointer;
}

.signupSuccessMessage {
    position: absolute;
    background-color: var(--color-menu);
    color: white;
    display: flex;
    height: 0;
    visibility: hidden;
    justify-content: center;
    align-items: center;
    transform:translateY(1px);
    transition: transform 800ms ease-in-out;
    top: 95%;
    z-index: 5;
}

.signupSuccessMessageCenter {
    transform:translateY(-55vh);
    border-radius: 20px;
    font-size: 20px;
    padding: 25px;
    height: 74px;
    visibility: visible;
}

.signup-overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: 4;
}

@media (max-width: 960px) {
    .login-button {
        padding: 15px 24px;
        font-size: 16px;
        border-radius: 8px;
    }
}

@media (max-width: 900px) {
    @keyframes move-to-corner {
        from {
            top: calc(50vh - 234px);
            left: calc(50vw - 174px);
            width: 274px;
            height: 334px;
        }
    
        to {
            width: 100px;
            height: 122px;
            top: 0;
            left: 0;
        }
    }    

    #login-content-box {
        padding: 40px;
    }

    .login-field {
        padding: 32px 16px;
        gap: 32px;
    }

    #back-to-login-button:hover {
        scale: 1;
    }
    
}

@media (max-width: 700px) {
    #login-signup-box-footer {
        display: flex;
        align-self: center;
    }

    #login-signup-box-header {
        display: none;
    }

    #login-content-box {
        gap: 16px;
    }
}

@media (max-width: 500px) {
    @keyframes move-to-corner {
        from {
            top: calc(50vh - 234px);
            left: calc(50vw - 150px);
            width: 274px;
            height: 334px;
        }
    
        to {
            width: 64px;
            height: 78px;
            top: 0;
            left: 0;
        }
    }    

    .login-input {
        width: 364px;
    }

    #login-content-box {
        padding: 37px 16px 22px 16px;
    }

    .login-button-box {
        flex-direction: column;
        gap: 21px;
    }
}

@media (max-width: 420px) {
    .login-input {
        width: 100%;
    }

    #login-content-box {
        padding: 8px;
        gap: 16px;
    }

    .back-button-box {
        top: 16px;
        left: 16px;
    }
}

@media (min-width: 1921px) {
    @keyframes move-to-corner {
        from {
            top: calc(50vh - 234px);
            left: calc(970px - 214px);
            width: 274px;
            height: 334px;
        }
    
        to {
            width: 100px;
            height: 122px;
            top: 0;
            left: 0;
        }
    }   
}

@media (max-height: 1080px) and (min-width: 1180px) {
	.login-field {
		margin-top: -128px;
	}
}