nav a {
    color: var(--color-menu-font);
    text-decoration: none;
}

.nav-button-list a  {
    display: flex;
    align-items: center;
    gap: 8px;
    height: 46px;
    padding: 8px 56px 8px 56px;
}

.nav-button-list a:hover {
    background-color: var(--color-menu-hover);
}

.logo {
    width: 100px;
}

.nav-button-list {
    width: 232px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.privacy-and-legal-links-container {
    display: flex;
    flex-direction: column;
    padding: 8px 0;
    width: 100%;
    gap: 4px;
}

.privacy-and-legal-links-container a {
    line-height: 19.2px;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    padding: 8px;
}

.privacy-and-legal-links-container a:hover {
    color: var(--color-accent);
    font-weight: 700;
}

.mobile-nav-button-list {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.mobile-nav-button-list a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 76px;
    height: 76px;
    padding: 0 15px;
    border-radius: 8px;
    gap: 4px;
}

.active {
    background-color: var(--color-menu-active);
    pointer-events: none;
}

.mobile-nav-button-list img {
    height: 22px;
}

#desktop-menu, #mobile-menu {
    color: var(--color-menu-font);
    background-color: var(--color-menu);
}

#desktop-menu {
    width: 232px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 64px 0;
    font-size: 16px;
    position: sticky;
    top: 0;
    z-index: 1;
}

#mobile-menu {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 80px;
    padding: 0 16px;
    z-index: 3;
}

@media (max-width: 920px) {
    #desktop-menu {
        display: none;
    }
    
    #mobile-menu {
        display: flex;
    }
}

@media (max-width: 480px) {
    .mobile-nav-button-list {
        justify-content: space-between;
    }
}

@media (max-width: 340px) {
    #mobile-menu {
        padding: 0 2px;
    }
}

@media (max-height: 680px) {
    #desktop-menu {
        padding: 32px 0;
    }
}

@media (max-height: 560px) {
    .nav-button-list {
        gap: 8px;
    }
}

@media (max-height: 520px) {
    .nav-button-list {
        gap: 4px;
    }

    .logo {
        width: 80px;
        margin-bottom: 5px;
    }

    #desktop-menu {
        padding: 24px 0;
        font-size: 14px;
    }
}

@media (max-height: 420px) {
    .nav-button-list {
        gap: 0;
    }

    .nav-button-list a {
        padding: 0px 56px;
        height: 36px;
    }

    .logo {
        width: 60px;
        margin-bottom: 5px;
    }

    .privacy-and-legal-links-container {
        gap: 0;
    }

    #desktop-menu {
        padding: 16px 0;
    }
}