.priority-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 10px;
    gap: 8px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    flex-grow: 1;
}

.priority-button:hover {
    box-shadow: 0px 4px 4px 0px #00000040;
    cursor: pointer;
}

.priority-button-urgent-clicked {
    background-color: rgb(255, 61, 0);
    border-color: rgb(255, 61, 0);
    color: white;
    font-weight: 700;
    font-size: 21px;
    cursor: default;
}

.priority-button-medium-clicked {
    background-color: rgb(255,168,0);
    border-color: rgb(255,168,0);
    color: white;
    font-weight: 700;
    font-size: 21px;
    cursor: default;
}

.priority-button-low-clicked {
    background-color: rgb(122,226,41);
    border-color: rgb(122,226,41);
    color: white;
    font-weight: 700;
    font-size: 21px;
    cursor: default;
}