<h1>Kanban Project Management Tool</h1>
<img id="header-logo" src="./assets/img/dark-logo.svg" alt="logo">
<div class="header-img-box">
    <a href="./help.html"><img id="header-help-icon" src="./assets/img/help.svg" alt="help" title="help"></a>
    <div onclick="showHideDropDownMenu()" class="flex-center header-user-icon">
        <span id="firstname-first-character">S</span>
        <span id="lastname-first-character">M</span>
    </div>
</div>
<nav id="drop-down-menu" class="display-none">
    <a id="header-nav-help-link" href="./help.html">Help</a>
    <a href="./legal-notice.html">Legal Notice</a>
    <a href="./privacy-policy.html">Privacy Policy</a>
    <a onclick="logout()">Log out</a>
</nav>