<div class="mobile-nav-button-list">
    <a href="summary.html">
        <img src="assets/img/summary-icon.svg" alt="summary icon">
        <span>Summary</span>
    </a>
    <a href="add-task.html">
        <img src="assets/img/add-task-icon.svg" alt="add-task icon">
        <span>Add&nbspTask</span>
    </a>
    <a href="board.html">
        <img src="assets/img/board-icon.svg" alt="board icon">
        <span>Board</span>
    </a>
    <a href="contacts.html">
        <img src="assets/img/contacts-icon.svg" alt="contacts icon">
        <span>Contacts</span>
    </a>
</div>